<p id="notice"><%= notice %></p>

<h1>Target Dipendente Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Target</th>
      <th>Target type</th>
      <th>Person</th>
      <th>Dirigente</th>
      <th>Valore</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @target_dipendente_evaluations.each do |target_dipendente_evaluation| %>
      <tr>
        <td><%= target_dipendente_evaluation.target_id %></td>
        <td><%= target_dipendente_evaluation.target_type %></td>
        <td><%= target_dipendente_evaluation.person_id.to_s +  "-" + Person.find(target_dipendente_evaluation.person_id).nominativo %></td>
        <td><%= target_dipendente_evaluation.dirigente_id.to_s + "-" + Person.find(target_dipendente_evaluation.dirigente_id).nominativo %></td>
        <td><%= target_dipendente_evaluation.valore %></td>
        <td><%= link_to 'Show', target_dipendente_evaluation %></td>
        <td><%= link_to 'Edit', edit_target_dipendente_evaluation_path(target_dipendente_evaluation) %></td>
        <td><%= link_to 'Destroy', target_dipendente_evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Target Dipendente Evaluation', new_target_dipendente_evaluation_path %>
