<%= form_with(model: office, local: true) do |form| %>
  <% if office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(office.errors.count, "error") %> prohibited this office from being saved:</h2>

      <ul>
      <% office.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :office_nome %>
  </div>
  
  <div class="field">
      <%= form.label :office_type_id %>
      <%= form.collection_select(:office_type_id, OfficeType.order(:denominazione), :id, :denominazione, :include_blank => true) %>
  </div>
  
  <div class="field">
      <%= form.label :director_id %>
      <%= form.collection_select(:director_id, Person.order(:cognome), :id, :cognomenome, :include_blank => true) %>
  </div>
  
  <div class="field">
      <%= form.label :parent_id %>
      <%= form.collection_select(:parent_id, Office.order(:nome), :id, :nome, :include_blank => true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
