<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @office.nome %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @office.office_type != nil ? (@office.office_type.denominazione) : " - " %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @office.parent != nil ? (@office.parent.nome) : " - " %>
</p>

<p>
  <strong>Direttore:</strong>
  <%= @office.director != nil ? (@office.director.nome + " " + @office.director.cognome) : " - " %>
</p>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
