<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <%= render edit_password_path(current_user) %>
  
  <% end %>

 <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :person_password %>
  </div>
  
  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :person_password_confirmation %>
  </div>
  
  <div class="actions">
    <%= form.submit "Cambia password"%>
  </div>
  
<% end %>
