function addOperaToDipendente(id_opera, id_person, id_dirigente)
{
 console.log(id_person);
 console.log(id_opera);
 console.log(id_dirigente);
 
 mydata = {   
               opera: id_opera, 
               dipendente: id_person,
               dirigente: id_dirigente
            };
 $.ajax({
              method: 'POST',
              url: '/people/aggiungiassegnazioniopere',
              data: mydata,
              success: function(){},
              error: function(){}
    
            });
 
}


var includeDiv = $("#results_division");
var includeDivTree = $("#jstree_assegnaopere");
includeDiv.empty();

var html = '';
var html2 = '';

html += '<br>';

html += '<br>';
html += '<p>';
<%= form_tag("/people/searchassegnaoperexdirigente", method: "get", remote: true, name: "searchassegnaoperexdirigente"  )  do  %>
<%= collection_select(:person, :id, @dirigenti.sort_by{|p| p.cognome}, :id, :cognomenome,)  %>
<%= submit_tag "Cerca", class:'btn btn-sm btn-info' %>
<% end %>
html += '<%= form_for :person, url: aggiungiassegnazioniopere_people_path, method: :post, :remote => true do |p| %>';
html += '<%=   p.select(:person_id, { include_blank: 'Please choose' }) do %>';
html += '<%     @dirigente.dipendenti_sotto.sort_by{|p| p.cognome}.each do |c| %>';
html += '<%      if c != nil %>';
html += '<%=      content_tag(:option, c.nominativo2, value: c.id, include_blank: true ) %>';
html += '<%      end %>';
html += '<%     end %>';
html += '<%    end %>';
html += '  <%= p.number_field :value, min: 0, max: 100,  :value => (@value != nil ? @value : 0) %>';
html += '  <%= p.hidden_field :dirigente_id, :value => @dirigente.id %>';
html += '</p>';
html += '<%=   p.submit "Seleziona" %>';
html += '<% end %>';

html += '<hr>';

<% if @dipendente != nil %>
html += '<p> <%= @dipendente.nominativo %>  <%= @valore.to_s %></p>';

html += '<table>';
html += '  <thead>';
html += '    <tr>';
html += '	  <th>Flag</th>';
html += '	  <th>Opera nr</th>';
html += '     <th>Descrizione</th>';
html += '    </tr>';
html += '  </thead>';
html += '  <tbody>';
<% @opere_array.each do |opera| %>


html += '     <div id="<%= opera.id %>">';	
html += '      <tr>';
html += '		<td class="flag_opera" >'; 


html += ' <%= form_tag @dipendente, :url => aggiungiassegnazioniopere_people_path, method: :post, :remote => true do -%>';
html += ' <%= hidden_field :dirigente_id, :value => @dirigente.id  %>';
html += ' <%= hidden_field :numero, :value => @valore  %>';
html += ' <%= hidden_field :dipendente_id, :value => (@dipendente != nil ? @dipendente.id : nil) %>';
html += ' <%= check_box_tag :assegnazione_opera, value = "1", checked = opera.assegnata_a(@dipendente), :onclick=>"addOperaToDipendente(#{opera.id}, #{@dipendente.id}, #{@dirigente.id} );" %> ';
html += ' <% end %>';  

html += '       </td>';

html += '        <td><%= opera.numero + "-" + opera.sub  %></td>';
html += '        <td><%= opera.descrizione %></td>';
html += '      </tr>';
html += '     </div>';	 
<% end %>

html += '  </tbody>';
html += '</table>';

<% end %>

includeDiv.append(html);

