<h1>Importazione riassuntivo pagelle valutazioni</h1>

<table>
  <thead>
    <tr>
	  <th>Nr</th>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Matricola</th>
      <th>Voto</th>
	  
    </tr>
  </thead>

  <tbody>
    <% i = 0 %>
	<% if @valutazioni != nil %>
    <% @valutazioni.each do |person| %>
      <tr>
	    <td><%= i = i + 1 %></td>
        <td><%= person.nome %></td>
        <td><%= person.cognome %></td>
        <td><%= person.matricola %></td>
        <td><%= person.valutazione.to_f.round(2) %></td>
      </tr>
    <% end %>
	<% end %>
  </tbody>
</table>

