<p id="notice"><%= notice %></p>


<%= @people.length %>

<%= form_tag("/people/set_lavora_come", method: "post", remote: false, name: "set_lavora_come"  )  do  %>
<%= collection_select(:person, :id, @people, :id, :cognomenome)  %>
<%= submit_tag "Seleziona", class:'btn btn-sm btn-info' %>
<% end %>