
function abilita_save(button_code)
{
 $button = $('#'+button_code)
 $.rails.enableElement($button)
 $button.removeAttr('disabled')
}
function abilita_save_btn_salva_pga(button_code)
{
 $button = $('#btn-salva-pga'+button_code)
 $.rails.enableElement($button)
 $button.removeAttr('disabled')
}

function abilita_save_btn_salva_mga(button_code)
{
 $button = $('#btn-salva-mga'+button_code)
 $.rails.enableElement($button)
 $button.removeAttr('disabled')
}

function abilita_save_btn_salva_pfa(button_code)
{
 $button = $('#btn-salva-pfa'+button_code)
 $.rails.enableElement($button)
 $button.removeAttr('disabled')
}

function abilita_save_btn_salva_mfa(button_code)
{
 $button = $('#btn-salva-mfa'+button_code)
 $.rails.enableElement($button)
 $button.removeAttr('disabled')
}

function abilita_save_btn_salva_paa(button_code)
{
 $button = $('#btn-salva-paa'+button_code)
 $.rails.enableElement($button)
 $button.removeAttr('disabled')
}

function abilita_save_btn_salva_maa(button_code)
{
 $button = $('#btn-salva-maa'+button_code)
 $.rails.enableElement($button)
 $button.removeAttr('disabled')
}

function abilita_save_btn_salva_popa(button_code)
{
 $button = $('#btn-salva-popa'+button_code)
 $.rails.enableElement($button)
 $button.removeAttr('disabled')
}

function abilita_save_btn_salva_mopa(button_code)
{
 $button = $('#btn-salva-mopa'+button_code)
 $.rails.enableElement($button)
 $button.removeAttr('disabled')
}



console.log("modifica_valutazioni_target_dipendente.js.erb file");
var includeDiv = $("#results_division");
includeDiv.empty();

var html = '';

html += '<p> Dipendente: ';
html += '<%= @dipendente.nominativo %>';

html += '<table  class="tabella_pesi_misurazioni_valutazioni_rimuovi">';
html += '  <tr>';
html += '    <th>Qualifica</th>';
html += '    <th>Categoria</th>';
html += '    <th>Tempo</th>';
html += '	<th>Part-time</th>';
html += '	<th>Tot gg</th>';
html += '	<th>Assenze</th>';
html += '	<th>Percentuale</th>';
html += '  </tr>';
html += '  <tr>';
html += '    <td><%= @dipendente.qualification != nil ? @dipendente.qualification.denominazione :  " - " %></td>';
html += '    <td><%= @dipendente.stringa_categoria != nil ? @dipendente.stringa_categoria :  " - " %></td>';
html += '    <td><%= @dipendente.tempo != nil ? @dipendente.tempo.round(2).to_s :  " - " %></td>';
html += '	<td><%= @dipendente.servizio_percentuale != nil ? @dipendente.servizio_percentuale.round(2).to_s :  " - " %></td>';
html += '    <td><%= @dipendente.totgg != nil ? @dipendente.totgg.round(2).to_s :  " - " %></td>';
html += '    <td><%= @dipendente.totassenze != nil ? @dipendente.totassenze.round(2).to_s :  " - " %></td>';
html += '	<td><%= ((@dipendente.totassenze != nil) && (@dipendente.totgg != nil)) ? (( @dipendente.totgg != 0) ? (100*@dipendente.totassenze/@dipendente.totgg).round(2).to_s :  " n.a. ") : " n.a. " %></td>';
html += '  </tr>';
html += '</table>';


html += '<table class="tabella_pesi_misurazioni_valutazioni_rimuovi">';
html += '  <tr>';
html += '  <td>'; 
html += '  Assenze incidono sul premio'; 
html += '  </td>';
html += '  <td>';
html += '  <%= form_for( @dipendente, :url => set_flag_assenze_incidono_people_path( @dipendente ), :html => { :method => :post, :id => (@dipendente.id.to_s )} ) do |f| %>';
html += '  <%= f.hidden_field :person_id, :value => @dipendente.id %>';
html += '  <%= f.check_box :flag_assenze_incidono, :value => @dipendente.flag_assenze_incidono , :onclick=>'setFlagAssenze(' + @dipendente.id.to_s + ')', disabled: !@dipendente.assenze_incidono_abilitato? %>'; 
html += '  <% end %>';
html += '  </td>';
html += '  </tr>';
html += '</table>';

html += '<table class="tabella_pesi_misurazioni_valutazioni_rimuovi">';
html += '  <thead>';
html += '    <tr>';
	  
html += '      <th class="tipo_target" >Tipo </th>';
html += '	   <th class="obiettivo" >Denominazione</th>';
html += '	   <th class="form_peso" >Peso</th>';
html += '	   <th class="form_misurazione" >Misurazione</th>';
html += '	   <th class="form_misurazione" >Valutazione</th>';
html += '	   <th class="form_peso" >Rimuovi</th>';

html += '    </tr>';
html += '  </thead>';

html += '  <tbody>';

<% somma_obiettivi = 0 %>
<% somma_fasi = 0 %>
<% somma_azioni = 0 %>
<% somma_opere = 0 %>

<% @dipendente.obiettivi.each do |o| %>
html += '      <tr>';
html += '       <td class="tipo_target" >Obiettivo</td>';
html += '		<td class="obiettivo" >';
html += '			  <%= o.denominazione_completa %> ';
                      <% o.indicatori.each do |i| %>
html += '				<p class="indicatore_sotto"> <%= i.denominazione  %> </p>';
                      <% end %>	 
                        <% o.fasi.each do |f| %>
html += '				 <p class="fase_sotto_obiettivo"> <%= f.denominazione_completa %> </p>';
                         <% f.indicatori.each do |i| %>
html += '				 		  <p class="indicatore_sotto"> <%= i.denominazione.strip.html_safe  %> </p>';
	                     <% end %>
                        <% end %>
html += '	    </td>';
html += '       <td class="form_peso" >';
<%                ga = GoalAssignment.where(persona: @dipendente, obiettivo: o).first  %>

<% if super_user? %>
html += '       <%= form_for :goal_assignment, url: setwheight_people_path, method: :post, :remote => true do |form| %>';
html += '		<%= form.number_field :value,  :value => ga.wheight, min: 0, max: 100, :onchange =>  "abilita_save_btn_salva_pga("+ga.id.to_s+")"%>';
html += '		<%= form.hidden_field :operational_goal_assignment_id, :value => ga.id %>';
html += '	    <%= form.hidden_field :dirigente_id, :value => @dirigente.id %>';
html += '	    <%= form.hidden_field :from, :value => "modifica_valutazioni_target_dipendente" %>';
html += '		<%= form.submit "Salva" , class: "btn-salva", id: "btn-salva-pga"+ga.id.to_s, disabled: true  %>';
html += '       <% end %>';
       
<% else %>
	html += '		<%=  ga.wheight %>';
<% end %>


html += '       </td>';

html += '       <td>';
html += '  <%= o.valore_totale.round(2) %>';
html += '       </td>';

html += '       <td class="form_valutazione_dirigente" >';
<%                val = TargetDipendenteEvaluation.where(dipendente: @dipendente, target: o).first  %>
html += '       <%= form_for :target_dipendente_evaluation, url: setvalutazionedirigente_people_path, method: :post, :remote => true do |form| %>';
html += '		<%= form.number_field :value,  :value => (val != nil ? val.valore : 0), min: 0, max: 100, :onchange => "abilita_save_btn_salva_mga("+ga.id.to_s+")"  %>';
html += '		<%= form.hidden_field :target_dipendente_evaluation_id, :value => (val != nil ? val.id : nil) %>';
html += '	    <%= form.hidden_field :person_id, :value => @dipendente.id %>';
html += '	    <%= form.hidden_field :dirigente_id, :value => @dirigente.id %>';
html += '	    <%= form.hidden_field :target_id, :value => o.id %>';
html += '	    <%= form.hidden_field :target_type, :value => o.tipo %>';
html += '	    <%= form.hidden_field :from, :value => "modifica_valutazioni_target_dipendente" %>';
html += '		<%= form.submit "Salva" , class: "btn-salva", id: "btn-salva-mga"+ga.id.to_s  %>';
html += '       <% end %>';
html += '       </td>';

html += '       <td class="form_peso" >'; 

<% if super_user? %>
       html += '       <%= form_for :person, url: rimuovi_assegnazione_target_people_path, method: :post, :remote => true do |form| %>';
	html += '		<%= form.hidden_field :operational_goal_assignment_id, :value => ga.id %>';
	html += '	    <%= form.hidden_field :dirigente_id, :value => @dirigente.id %>';
	html += '	    <%= form.hidden_field :from, :value => "targetdipendentixdirigente" %>';
	html += '		<%= form.submit "Rimuovi" , class: "btn-salva"  %>';
	html += '       <% end %>';
	
<% end %>


html += '      </td>';

html += '      </tr>';
<% somma_obiettivi = somma_obiettivi + (ga.wheight != nil ? ga.wheight : 0)%>
<% end %>

<% @dipendente.fasi.each do |f| %>
html += '      <tr>';
html += '       <td class="tipo_target">Fase</td>';
html += '		<td class="obiettivo" >'; 

html += '		<p class_"obiettivo_sopra_fase"><%= f.obiettivo_operativo_fase.denominazione_completa%> </p>';
html += '		<%= f.denominazione_completa %> ';
         <% f.indicatori.each do |i| %>
html += '				  <p class_"indicatore_sotto"> <%= i.denominazione  %> </p>';
	     <% end %>
	   
	     <% f.azioni.each do |a| %>
html += '				  <p class="azione_sotto_fase"> <%= a.denominazione.strip.html_safe %> </p>';
	     <% end %>


html += '</td>';
html += '       <td class="form_peso" >';
<%                fa = PhaseAssignment.where(persona: @dipendente, fase: f).first  %>

<% if super_user? %>

html += '       <%= form_for :phase_assignment, url: setwheight_people_path, method: :post, :remote => true do |form| %>';
html += '		<%= form.number_field :value,  :value => fa.wheight, min: 0, max: 100, :onchange => "abilita_save_btn_salva_pfa("+fa.id.to_s+")" %>';
html += '		<%= form.hidden_field :phase_assignment_id, :value => fa.id %>';
html += '	    <%= form.hidden_field :dirigente_id, :value => @dirigente.id %>';
html += '	    <%= form.hidden_field :from, :value => "modifica_valutazioni_target_dipendente" %>';
html += '		<%= form.submit "Salva" , class: "btn-salva", id: "btn-salva-pfa"+fa.id.to_s, disabled: true  %>';
html += '       <% end %>';
       
<% else %>

html += '		<%= fa.wheight %>';

<% end %>



html += '       </td>';

html += '       <td>';
html += '  <%= f.valore_totale.round(2) %>';
html += '       </td>';

html += '       <td class="form_valutazione_dirigente" >';
<%                val = TargetDipendenteEvaluation.where(dipendente: @dipendente, target: f).first  %>
html += '       <%= form_for :target_dipendente_evaluation, url: setvalutazionedirigente_people_path, method: :post, :remote => true do |form| %>';
html += '		<%= form.number_field :value,  :value => (val != nil ? val.valore : 0), min: 0, max: 100, :onchange => "abilita_save_btn_salva_mfa("+fa.id.to_s+")"  %>';
html += '		<%= form.hidden_field :target_dipendente_evaluation_id, :value => (val != nil ? val.id : nil) %>';
html += '	    <%= form.hidden_field :person_id, :value => @dipendente.id %>';
html += '	    <%= form.hidden_field :dirigente_id, :value => @dirigente.id %>';
html += '	    <%= form.hidden_field :target_id, :value => f.id %>';
html += '	    <%= form.hidden_field :target_type, :value => f.tipo %>';
html += '	    <%= form.hidden_field :from, :value => "modifica_valutazioni_target_dipendente" %>';
html += '		<%= form.submit "Salva" , class: "btn-salva", id: "btn-salva-mfa"+fa.id.to_s %>';
html += '       <% end %>';
html += '       </td>';

html += '       <td class="form_peso" >'; 

<% if super_user? %>
       
html += '       <%= form_for :person, url: rimuovi_assegnazione_target_people_path, method: :post, :remote => true do |form| %>';
html += '		<%= form.hidden_field :phase_assignment_id, :value => fa.id %>';
html += '	    <%= form.hidden_field :dirigente_id, :value => @dirigente.id %>';
html += '	    <%= form.hidden_field :from, :value => "modifica_valutazioni_target_dipendente" %>';
html += '		<%= form.submit "Rimuovi" , class: "btn-salva"  %>';
html += '       <% end %>';
	
<% end %>

html += '      </td>';

html += '      </tr>';
<% somma_fasi = somma_fasi + (fa.wheight != nil ? fa.wheight : 0) %>
<% end %>

<% @dipendente.azioni.each do |a| %>
html += '      <tr>';
html += '       <td class="tipo_target">Azione</td>';
html += '       <td class="azione" > ';
html += '       		 <p class_"obiettivo_operativo_sopra"><%= a.obiettivo_operativo_denominazione_completa %> </p>';
html += '       		 <p class_"fase_sopra"><%= a.fase_denominazione_completa %> </p>';

html += '       		 <p class_"azione_sotto_fase"><%= a.denominazione_completa %> </p>';
		
		<% a.indicatori.each do |i| %>
html += '       	  <p class_"indicatore_sotto"> <%= i.denominazione  %> </p>';
	     <% end %>
html += '       		</td>';
html += '       <td class="form_peso" >';
<%                aa = SimpleActionAssignment.where(persona: @dipendente, azione: a).first  %>
<% if super_user? %>
html += '       <%= form_for :action_assignment, url: setwheight_people_path, method: :post, :remote => true do |form| %>';
html += '		<%= form.number_field :value,  :value => aa.wheight, min: 0, max: 100, :onchange => "abilita_save_btn_salva_paa("+aa.id.to_s+")" %>';
html += '		<%= form.hidden_field :simple_action_assignment_id, :value => aa.id %>';
html += '	    <%= form.hidden_field :dirigente_id, :value => @dirigente.id %>';
html += '	    <%= form.hidden_field :from, :value => "modifica_valutazioni_target_dipendente" %>';
html += '		<%= form.submit "Salva" , class: "btn-salva",  id: "btn-salva-paa"+aa.id.to_s, disabled: true %>';
html += '       <% end %>';
       
<% else %>
html += '		<%= aa.wheight %>';
<% end %>



html += '       </td>';

html += '       <td>';
html += '  <%= a.valore_totale.round(2) %>';
html += '       </td>';

html += '       <td class="form_valutazione_dirigente" >';
<%                val = TargetDipendenteEvaluation.where(dipendente: @dipendente, target: a).first  %>
html += '       <%= form_for :target_dipendente_evaluation, url: setvalutazionedirigente_people_path, method: :post, :remote => true do |form| %>';
html += '		<%= form.number_field :value,  :value => (val != nil ? val.valore : 0), min: 0, max: 100, :onchange => "abilita_save_btn_salva_maa("+aa.id.to_s+")" %>';
html += '		<%= form.hidden_field :target_dipendente_evaluation_id, :value => (val != nil ? val.id : nil) %>';
html += '	    <%= form.hidden_field :person_id, :value => @dipendente.id %>';
html += '	    <%= form.hidden_field :dirigente_id, :value => @dirigente.id %>';
html += '	    <%= form.hidden_field :target_id, :value => a.id %>';
html += '	    <%= form.hidden_field :target_type, :value => a.tipo %>';
html += '	    <%= form.hidden_field :from, :value => "modifica_valutazioni_target_dipendente" %>';
html += '		<%= form.submit "Salva" , class: "btn-salva",  id: "btn-salva-maa"+aa.id.to_s %>';
html += '       <% end %>';
html += '       </td>';


html += '       <td class="form_peso" >'; 

<% if super_user? %>
       
html += '       <%= form_for :person, url: rimuovi_assegnazione_target_people_path, method: :post, :remote => true do |form| %>';
html += '		<%= form.hidden_field :simple_action_assignment_id, :value => aa.id %>';
html += '	    <%= form.hidden_field :dirigente_id, :value => @dirigente.id %>';
html += '	    <%= form.hidden_field :from, :value => "modifica_valutazioni_target_dipendente" %>';
html += '		<%= form.submit "Rimuovi" , class: "btn-salva"  %>';
html += '       <% end %>';
	
<% end %>

html += '      </td>';

html += '      </tr>';
<% somma_azioni = somma_azioni + (aa.wheight != nil ? aa.wheight : 0) %>
<% end %>

<% @dipendente.opere_assegnate.each do |op| %>
html += '             <tr>';
html += '              <td class="tipo_target">Opera</td>';
html += '       		<td class="obiettivo" > <%= op.denominazione_completa %> </td>';
html += '              <td class="form_peso" >';
<%                opa = OperaAssignment.where(persona: @dipendente, opera: op).first  %>

<% if super_user? %>  
html += '              <%= form_for :opera_assignment, url: setwheight_people_path, method: :post, :remote => true do |form| %>';
html += '       		<%= form.number_field :value,  :value => opa.wheight, min: 0, max: 100, :onchange => "abilita_save_btn_salva_popa("+opa.id.to_s+")" %>';
html += '       		<%= form.hidden_field :opera_assignment_id, :value => opa.id %>';
html += '       	    <%= form.hidden_field :dirigente_id, :value => @dirigente.id %>';
html += '       	    <%= form.hidden_field :from, :value => "modifica_valutazioni_target_dipendente" %>';
html += '       		<%= form.submit "Salva" , class: "btn-salva", id: "btn-salva-popa"+opa.id.to_s, disabled: true %>';
html += '              <% end %>';

<% else %>
html += '              <%=	opa.wheight %>';
<%end %>

html += '              </td>';

html += '              <td>';
html += '         <%= op.valore_totale.round(2) %>';
html += '              </td>';

html += '              <td class="form_valutazione_dirigente" >';
<%                val = TargetDipendenteEvaluation.where(dipendente: @dipendente, target: op).first  %>
	  
html += '       	   <%= form_for :target_dipendente_evaluation, url: setvalutazionedirigente_people_path, method: :post, :remote => true do |form| %>';
html += '       		<%= form.number_field :value,  :value => (val != nil ? val.valore : 0), min: 0, max: 100, :onchange => "abilita_save_btn_salva_mopa("+opa.id.to_s+")" %>';
html += '       		<%= form.hidden_field :target_dipendente_evaluation_id, :value => (val != nil ? val.id : nil) %>';
html += '       	    <%= form.hidden_field :person_id, :value => @dipendente.id %>';
html += '       	    <%= form.hidden_field :dirigente_id, :value => @dirigente.id %>';
html += '       	    <%= form.hidden_field :target_id, :value => op.id %>';
html += '       	    <%= form.hidden_field :target_type, :value => op.tipo %>';
html += '       	    <%= form.hidden_field :from, :value => "modifica_valutazioni_target_dipendente" %>';
html += '       		<%= form.submit "Salva" , class: "btn-salva", id: "btn-salva-mopa"+opa.id.to_s  %>';
html += '              <% end %>';

   
html += '              </td>';

html += '             <td class="form_peso" >';
	  
	  <% if super_user? %>
       
html += '       <%= form_for :person, url: rimuovi_assegnazione_target_people_path, method: :post, :remote => true do |form| %>';
html += '       <%= form.hidden_field :opera_assignment_id, :value => opa.id %>';
html += '       <%= form.hidden_field :dirigente_id, :value => @dirigente.id %>';
html += '       <%= form.hidden_field :from, :value => "modifica_valutazioni_target_dipendente" %>';
html += '       <%= form.submit "Rimuovi" , class: "btn-salva"  %>';
html += '       <% end %>';
	
		<% end %>
       
html += '             </td>';

html += '             </tr>';
<% somma_opere = somma_opere + (opa.wheight != nil ? opa.wheight : 0) %>
<% end %>

html += '    <tr>';
html += '      <td class="tipo_target" > </td>';
html += '	   <td class="obiettivo" > </td>';
html += '	   <td class="form_peso" >  </td>';
html += '	   <td>';
html += '	    <%= form_for :target_dipendente_evaluation, url: conferma_misurazione_dirigente_x_dipendente_people_path, method: :post, :remote => true do |form| %>';
html += '	    <%= form.hidden_field :dirigente_id, :value => @dirigente.id %>';
html += '	    <%= form.hidden_field :person_id, :value => @dipendente.id %>';
html += '	    <%= form.hidden_field :from, :value => "modifica_valutazioni_target_dipendente" %>';
html += '		<%= form.submit "Copia misurazione" , class: "btn-salva"  %>';
html += '        <% end %>';
html += '	   </td>';
html += '	   <td>';
html += '	   </td>';
html += '	   <td></td>';
html += '    </tr>';


html += '      <tr>';
html += '          <td class="tipo_target" > </td>';
html += '      	   <td class="obiettivo" > Totale  </td>';
html += '      	   <td class="form_peso" > <%= somma_obiettivi + somma_fasi + somma_azioni + somma_opere  %>  </td>';
html += '      	   <td></td>';
html += '      	   <td>';
html += '             <%= @dipendente.valutazione_dirigente_obiettivi_fasi_azioni %> ';
html += '      	   </td> ';
html += '      	   <td></td> ';
html += '          </tr> ';

html += '  </tbody>';
html += '</table>';

includeDiv.append(html);

