
<p> Password settata per </p>
<p>
  <strong>Nome:</strong>
  <%= @person.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @person.cognome %>
</p>



<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
