<p id="notice"><%= notice %></p>

<h1>Office Types</h1>

<table>
  <thead>
    <tr>
      <th>Denominazione</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @office_types.each do |office_type| %>
      <tr>
        <td><%= office_type.denominazione %></td>
        <td><%= link_to 'Show', office_type %></td>
        <td><%= link_to 'Edit', edit_office_type_path(office_type) %></td>
        <td><%= link_to 'Destroy', office_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Office Type', new_office_type_path %>
