<%= form_with(model: qualification_type, local: true) do |form| %>
  <% if qualification_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qualification_type.errors.count, "error") %> prohibited this qualification_type from being saved:</h2>

      <ul>
      <% qualification_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :denominazione %>
    <%= form.text_field :denominazione, id: :qualification_type_denominazione %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
