<p id="notice"><%= notice %></p>

<p>
  <strong>Ufficio stringa:</strong>
  <%= @attivita_consolidata_gauge.ufficio_stringa %>
</p>

<p>
  <strong>Linea di attivita:</strong>
  <%= @attivita_consolidata_gauge.linea_di_attivita %>
</p>

<p>
  <strong>Indicatore di quantita:</strong>
  <%= @attivita_consolidata_gauge.indicatore_di_quantita %>
</p>

<p>
  <strong>Consuntivo anno n meno 3:</strong>
  <%= @attivita_consolidata_gauge.consuntivo_anno_n_meno_3 %>
</p>

<p>
  <strong>Consuntivo anno n meno 2:</strong>
  <%= @attivita_consolidata_gauge.consuntivo_anno_n_meno_2 %>
</p>

<p>
  <strong>Consuntivo anno n meno 1:</strong>
  <%= @attivita_consolidata_gauge.consuntivo_anno_n_meno_1 %>
</p>

<p>
  <strong>Previsionale anno n:</strong>
  <%= @attivita_consolidata_gauge.previsionale_anno_n %>
</p>

<p>
  <strong>Previsionale anno n piu 1:</strong>
  <%= @attivita_consolidata_gauge.previsionale_anno_n_piu_1 %>
</p>

<p>
  <strong>Previsionale anno n piu 2:</strong>
  <%= @attivita_consolidata_gauge.previsionale_anno_n_piu_2 %>
</p>

<p>
  <strong>Previsionale anno n piu 3:</strong>
  <%= @attivita_consolidata_gauge.previsionale_anno_n_piu_3 %>
</p>

<p>
  <strong>Obiettivo di performance:</strong>
  <%= @attivita_consolidata_gauge.obiettivo_di_performance %>
</p>

<p>
  <strong>Note:</strong>
  <%= @attivita_consolidata_gauge.note %>
</p>

<p>
  <strong>Foglio di lavoro:</strong>
  <%= @attivita_consolidata_gauge.foglio_di_lavoro %>
</p>

<%= link_to 'Edit', edit_attivita_consolidata_gauge_path(@attivita_consolidata_gauge) %> |
<%= link_to 'Back', attivita_consolidata_gauges_path %>
