<p id="notice"><%= notice %></p>

<h1>Tabelle base importate</h1>

<p><%= link_to "Settings", "/settings/" %></p>
<p><%= link_to "Tipi Uffici", "/office_types/" %></p>
<p><%= link_to "Categorie", "/categories/" %></p>
<p><%= link_to "Fattori di valutazione", "/vfactors/" %></p>
<p><%= link_to "Aree di valutazione", "/valuation_areas/" %></p>
