<p id="notice"><%= notice %></p>

<p>
  <strong>Matricola:</strong>
  <%= @sdope_row.matricola %>
</p>

<p>
  <strong>Nominativo:</strong>
  <%= @sdope_row.nominativo %>
</p>

<p>
  <strong>Livello:</strong>
  <%= @sdope_row.livello %>
</p>

<p>
  <strong>Figuracod:</strong>
  <%= @sdope_row.figuracod %>
</p>

<p>
  <strong>Figurades:</strong>
  <%= @sdope_row.figurades %>
</p>

<p>
  <strong>Ruolo:</strong>
  <%= @sdope_row.ruolo %>
</p>

<p>
  <strong>Titolo1:</strong>
  <%= @sdope_row.titolo1 %>
</p>

<p>
  <strong>Titolo2:</strong>
  <%= @sdope_row.titolo2 %>
</p>

<p>
  <strong>Titolo3:</strong>
  <%= @sdope_row.titolo3 %>
</p>

<p>
  <strong>Titolo4:</strong>
  <%= @sdope_row.titolo4 %>
</p>

<%= link_to 'Edit', edit_sdope_row_path(@sdope_row) %> |
<%= link_to 'Back', sdope_rows_path %>
