<p id="notice"><%= notice %></p>

<h1>Categoria Quota</h1>

<table>
  <thead>
    <tr>
      <th>Chiave</th>
      <th>Quota comportamento</th>
      <th>Quota obiettivi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categoria_quota.each do |categoria_quotum| %>
      <tr>
        <td><%= categoria_quotum.chiave %></td>
        <td><%= categoria_quotum.quota_comportamento %></td>
        <td><%= categoria_quotum.quota_obiettivi %></td>
        <td><%= link_to 'Show', categoria_quotum %></td>
        <td><%= link_to 'Edit', edit_categoria_quotum_path(categoria_quotum) %></td>
        <td><%= link_to 'Destroy', categoria_quotum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categoria Quotum', new_categoria_quotum_path %>
