<%= form_with(model: strategic_goal, local: true) do |form| %>
  <% if strategic_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(strategic_goal.errors.count, "error") %> prohibited this strategic_goal from being saved:</h2>

      <ul>
      <% strategic_goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :denominazione %>
    <%= form.text_field :denominazione, id: :strategic_goal_denominazione %>
  </div>

  <div class="field">
    <%= form.label :descrizione %>
    <%= form.text_area :descrizione, id: :strategic_goal_descrizione %>
  </div>

  <div class="field">
    <%= form.label :anno %>
    <%= form.number_field :anno, id: :strategic_goal_anno %>
  </div>

  <div class="field">
    <%= form.label :ente %>
    <%= form.text_field :ente, id: :strategic_goal_ente %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
