<p id="notice"><%= notice %></p>

<h1>Obiettivi Strategici</h1>

<table>
  <thead>
    <tr>
      <th>Denominazione</th>
      <th>Descrizione</th>
      <th>Anno</th>
      <th>Ente</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @strategic_goals.each do |strategic_goal| %>
      <tr>
        <td><%= strategic_goal.denominazione %></td>
        <td><%= strategic_goal.descrizione %></td>
        <td><%= strategic_goal.anno %></td>
        <td><%= strategic_goal.ente %></td>
        <td><%= link_to 'Show', strategic_goal %></td>
        <td><%= link_to 'Edit', edit_strategic_goal_path(strategic_goal) %></td>
		<td><%= link_to 'Struttura', manage_strategic_goal_strategic_goals_path(strategic_goal) %></td>
        <td><%= link_to 'Destroy', strategic_goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Strategic Goal', new_strategic_goal_path %>
