
<%= form_tag("/gauges/searchtargetxdirigente", method: "get", remote: true, name: "searchtargetxdirigente"  )  do  %>
<%= collection_select(:person, :id, @dirigenti.sort_by{|p| p.cognome}, :id, :cognomenome,)  %>

<br>

<table style="text-align:left; margin-left:1%;" style="border:1px solid #FFFFFF;" >

<tr>
<td style="border:1px solid #FFFFFF;">

<table style="border:1px solid #FFFFFF;">
  <tr>
    <td style="border:1px solid #FFFFFF;"><b>Obiettivi PEG</b></td>
    <td align="center", style="border:1px solid #FFFFFF;" width="50px"><%= check_box_tag :opzionepeg %></td>
    
  </tr>
  <tr>
    <td style="border:1px solid #FFFFFF;"><b>Attività ordinaria</b></td>
    <td align="center", style="border:1px solid #FFFFFF;" width="50px"><%= check_box_tag :opzioneac %></td>
    
  </tr>
  <tr>
    <td style="border:1px solid #FFFFFF;"><b>Opere</b></td>
    <td align="center", style="border:1px solid #FFFFFF;" width="50px"><%= check_box_tag :opzioneopere %></td>
    
  </tr>
</table>

</td>
</tr>

<tr>
<td style="border:1px solid #FFFFFF;">
<%= submit_tag "Cerca", class:'btn btn-sm btn-info' %>
</td>
</tr>
</table>

<% end %>