<p id="notice"><%= notice %></p>

<h1>Deleghe</h1>

<table>
  <thead>
    <tr>
      <th>Delegante</th>
      <th>Delegato</th>
      <th>Office</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delegations.each do |delegation| %>
      <tr>
        <td><%= delegation.delegante_id %></td>
        <td><%= delegation.delegato_id %></td>
        <td><%= delegation.office_id %></td>
        <td><%= link_to 'Show', delegation %></td>
        <td><%= link_to 'Edit', edit_delegation_path(delegation) %></td>
        <td><%= link_to 'Destroy', delegation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuova Delega', new_delegation_path %>
