<%= form_with(model: simple_action, local: true) do |form| %>
  <% if simple_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(simple_action.errors.count, "error") %> prohibited this simple_action from being saved:</h2>

      <ul>
      <% simple_action.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :denominazione %>
    <%= form.text_field :denominazione, id: :simple_action_denominazione %>
  </div>

  <div class="field">
    <%= form.label :descrizione %>
    <%= form.text_area :descrizione, id: :simple_action_descrizione %>
  </div>
  
  <div class="field">
      <%= form.label :responsabile_principale_id %>
      <%= form.collection_select(:responsabile_principale_id, Person.dirigenti, :id, :cognome, :include_blank => true) %>
  </div>
  
  <div class="field">
    <%= form.label :peso %>
    <%= form.number_field :peso, id: :phase_peso, step: 0.1 %>
  </div>
  
  <div class="field">
    <%= form.label :anno %>
    <%= form.number_field :anno, id: :simple_action_anno, :value => Setting.where(denominazione: "anno").first.value %>
  </div>

  <div class="field">
    <%= form.label :ente %>
    <%= form.text_field :ente, id: :simple_action_ente, :value => Setting.where(denominazione: "ente").first.value %>
  </div>
  
  <div class="field">
    <%= form.label :phase, "Fase" %>
    <%= form.collection_select(:fase_id, Phase.order(denominazione: :asc), :id, :id_denominazione80, :include_blank => true) %>
  </div>

  <div class="actions">
    <%= form.submit "Salva Azione" %>
  </div>
<% end %>
